/* import inter font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  font-family: 'Inter', sans-serif !important;
}

.player-wrapper {
  /* assect ration of a tik to vidoe */
  position: relative;
  padding-top: 56.25%;
  
}